body{
    background-color: black;
}
/* HEADER */
header{
    width:100%;
    min-width:1200px;
    height:70px;
    background-color:black;
}
.header-icons{
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1rem;
}
.header-icons>.icons{
    background-color: rgba(97, 95, 95, 0.8);
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    padding:0.2rem 0.3rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.icons>i{
    padding:0.3rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}
.fa-arrows-up-down-left-right{
    transform: rotate(50deg);
}
/* MAIN */
main{
    height: calc(100vh - 70px - 84px)
}
.users-row{
    display:flex;
    gap:0.5rem;
    padding:1rem 4rem 0rem;
}
.user-img{
    position:relative;
}
.main-icons{
    position:absolute;
    bottom:0.2rem;
    color:white;
    background-color: rgba(97, 95, 95, 0.6);
    padding:0.2rem 0.3rem 0rem 0.3rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.main-icons>i{
    padding:0.3rem;
}
/* FOOTER */
footer{
    min-width: 1200px;
    height:84px;
    background-color: rgb(48, 48, 48);
    margin-top:1.2rem;
    padding:0rem 0rem 0.2rem;
}
.footer-icons{
    display:flex;
    justify-content: center;
    gap:1rem;
    padding:0rem 0rem 0rem 0.5rem;
}
.footer-icons i{
    color:white;
    font-size: 1.8rem;
    padding: 0.9rem 1rem 0.5rem 0.2rem;
    text-align: center;
}

.footer-icons .fa-angle-right{
    font-size: 0.7rem;
    transform: rotate(-90deg);
}

.icon-text{
    padding:0.3rem;
    text-align: center;
}
.icon-text>div{
    color:white;
    font-family: sans-serif;
    font-size:0.8rem;
    text-align: left;
}
/* center*/
.center{
    flex-grow:1;
}
#green{
    color:rgb(5, 193, 5);
}

/* right side */
.right-side>button{
    color:red;
    background-color: rgb(86, 86, 86);
    padding:2.1rem 1rem;
    justify-self: end;
    font-family: sans-serif;
    font-size: 0.8rem;
    border:0px;
    height:100%;
}

